<!DOCTYPE HTML>
<html ng-app="myApp">
	<head>
		<title>Simple app</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
	</head>
	<body>
		<div ng-controller="MyController">
			<input type="email" ng-model="to" placeholder="recipient">
			<textarea ng-model="emailBody"></textarea>
			[ to ]
			<pre>[ previewText ]</pre>
		</div>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>